.comment {
    padding-top: 60px;

  &_inner {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 10px;
  }

  h2 {
    margin-bottom: 20px;
  }

  &_text {
    margin-bottom: 15px !important;
  }

  textarea {
      margin-bottom: 10px;
    }
}